In [2]:
import pandas as pd
import numpy as np

In [3]:
stats_df = pd.read_csv("data/Drug overdose.csv")

In [4]:
stats_df.head()

,Sex,Race,Age,Drug Type,1999,2000,2001,2002,2003,2004,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2018\n(single race)
0,All,All,"All ages, age adjusted",All,6.1,6.2,6.8,8.2,8.9,9.4,...,12.3,13.2,13.1,13.8,14.7,16.3,19.8,21.7,- - -,20.7
1,All,All,"All ages, crude",All,6.0,6.2,6.8,8.2,8.9,9.4,...,12.4,13.3,13.2,13.9,14.8,16.3,19.7,21.6,- - -,20.6
2,All,All,Under 15 years,All,0.1,0.1,0.2,0.2,0.2,0.2,...,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,- - -,0.2
3,All,All,15–24 years,All,3.2,3.7,4.2,5.1,6.0,6.6,...,8.2,8.6,8.0,8.3,8.6,9.7,12.4,12.6,- - -,10.8
4,All,All,25–34 years,All,8.1,7.9,8.6,10.5,11.4,11.9,...,18.4,20.2,20.1,20.9,23.1,26.9,34.6,38.4,- - -,35.5

In [5]:
stats_df['Sex'].value_counts()

Sex
Male      132
Female    132
All        66
Name: count, dtype: int64

In [6]:
stats_df.shape

(330, 25)

In [7]:
stats_df.columns

Index(['Sex', 'Race', 'Age', 'Drug Type', '1999', '2000', '2001', '2002',
       '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011',
       '2012', '2013', '2014', '2015', '2016', '2017', '2018',
       '2018\n(single race)'],
      dtype='object')

In [8]:
stats_df['Drug Type'].unique()

array(['All', 'Opioid', 'natural/semisynthetic opioids', 'methadone',
       'synthetic opioids other than methadone', 'heroin'], dtype=object)